.navbar-brand {

    font-size: 35px;
    font-family: "Nunito", sans-serif;
    color: #06BBCC;
    font-weight: 700;
}

.collapse {
    margin-left: 20%;
}

.nav-item {
    margin-left: 10%;

}

.nav-link {
    font-size: 18px;
    font-family: "Heebo", sans-serif;
    color: rgb(2, 2, 40);
}

.dropdown-menu {
    background-color: black;
}

.nav-link :hover {
    color: #06BBCC;

}

.btn {

    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -1%;
    margin-bottom: 0%;
    font-size: large;
    background-color: #06BBCC;
    border: none;
    border-radius: 0%;
    font-weight: bolder;

}

.navbar-brand:hover {
    color: #06BBCC;
}

.nav-link:hover {
    color: #06BBCC;
}

.btn:hover {
    background-color: rgb(2, 2, 40);
}

.d-block {
    width: 75%;
    height: 600px;


}

.ww {
    width: 75%;
    height: 600px;
}

.carousel-item {
    width: 80%;
    margin-left: 20%;
    position: relative;

}

.dropdown-menu {
    background-color: white;

}

.dropdown-item:hover {
    color: #06BBCC;
}

.text1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;

}

.a {
    color: #06BBCC;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
}

.b {
    color: #02474d;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    font-size: 50px
}

.c {
    color: #02292d;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    padding-right: 100px;


}

.d {
    color: #02474d;
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    font-size: 40px
}

.text2 {
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: white;

}

.yy {
    display: flex;

}

.card-img-top {
    text-align: center;
    margin-left: -2%;
    margin-bottom: 5%;

}


.bi {
    color: #06BBCC;
}

.card:hover .bi {
    color: white;

}

.bi:hover {
    color: white;
}

.card {
    margin-left: 3%;
    margin-right: 2%;
    transition: transform 0.3s ease-in-out;
    
}



.card:hover {
    background-color: #06BBCC;
    color: white;
    transform: translateY(-10px);
}

.card:hover .card-text {
    color: white;
}

.card:hover .uu {
    color: white;
}


.card-text {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #181d38;
}

.uu {
    text-align: center;
    font-family: "Nunito", san serif;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    color: #181d38;
}

.ii {
    display: flex;
    justify-content: space-between;
}

.au {
    width: 600px;
    height: 500px;
    padding-left: 10%;

}

.au1 {
    padding-right: 5%;
    text-align: justify;
    color: #181d38;
    font-family:sans-serif;
    padding-left: 6%;

}

.he {
    font-weight: bolder;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.aaa {

    font-family:'Courier New', Courier, monospace;
    color: #06BBCC;
    font-weight:bolder;
    text-align: center;
    
}
.k{
    display: flex;
    justify-content: space-around;
}
.kkk{
    width: 650px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: #0a0909;
}
.kk{
    transition: transform 0.3s ease-in-out;
}
.kkk:hover{
    color: #181d38;
    transform:scale(1.1);  
    transition: transform 0.5s ease-in-out;
}

.kkkk:hover{
    color: #ffffff;
    background-color: #06BBCC;

}

.kkkk{
    transform: translate(4%, -110%);
    width: 250px;
    color: aliceblue;
    background-color: #0c0d0d5c;
   
}

.kkkkk{
    color: aliceblue;
    margin-left: 4%;
    text-decoration: none
}
.kkkkkk{
    color: aliceblue;
    margin-left: 4%;
    text-decoration: none;
}
.eee{
    text-decoration: none;
}
.card-img-topa{

    height: 300px;
    width: 350px;
    padding-left: 10%;
    padding-right: 20%;
    padding-top: 3%;

}

.card-titlea{
    text-align: center;
}
.card-texta{
    text-align: center;
}
.icoo{
    background-color: #ffffff;
    width: 101px;
    justify-content: space-evenly;
    margin-left: 1px;
    transform: translate(90%, -130%);
    padding-left: 1px;
    padding-right: 1px;


}

.bii{
    color: #06BBCC;
}
    
.card{
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #aaa9a9;
    
}